<main class="container">
  <!--Navegador-->
  <div
    class="d-flex align-items-center p-3 my-4 text-white rounded shadow-sm main-header fs-3 justify-content-between"
  >
    Equipe
    <div>
      <i class="bi bi-file-earmark-plus m-1"></i>
      <i class="bi bi-folder m-1"></i>
      <i class="bi bi-trash m-1"></i>
      <i class="bi bi-search m-1"></i>
    </div>
  </div>

  <div>
    <!--Seletor-->
    <div class="p-3 row g-3 align-items-center">
      <div class="col-auto d-flex g-0">
        <label for="inputCodigo" class="col-form-label"><b>Código:</b></label>
        <input type="text" id="inputCodigo" class="form-control mx-2" />
      <!--Corretora-->
        <label for="selectCorretora" class="col-form-label"><b>Corretora:</b></label>
        <select class="form-select mx-2" id="selectCorretora">
          <option selected>Vital Latina</option>
          <option value="1">Sinaf Seguros</option>
          <option value="2">Sinaf Assistência</option>
          <option value="3">Viva Sinaf</option>
        </select>
      <!--Unidade-->
        <label for="selectUnidade" class="col-form-label"><b>Unidade:</b></label>
        <select class="form-select mx-2" id="selectUnidade">
          <option selected>Selecione...</option>
          <option value="1">Glória</option>
          <option value="2">Niterói</option>
          <option value="3">Centro</option>
        </select>
      </div>
    </div>
    <!--Descrição-->
    <div class="p-3 row g-3 align-items-center">
      <div class="col-auto d-flex g-0">
        <label for="inputDescricao" class="col-form-label"><b>Descrição:</b></label>
        <input type="text" id="inputDescricao" class="form-control mx-2" />
      </div>
    </div>
    <!--Período-->
    <div class="p-3 row g-3 align-items-center">
      <div class="col-auto d-flex g-0">
        <label for="inputCodigo" class="col-form-label"><b>Período:</b></label>
        <input type="text" id="inputCodigo" class="form-control mx-2" />
        <label for="inputCodigo" class="col-form-label"><b>à</b></label>
        <input type="text" id="inputCodigo" class="form-control mx-2" />
      </div>
    </div>
    <hr class="my-4">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2 botao-pesquisar" type="button">Pesquisar</button>
    </div>

    <!--Tabelas-->
    <div class="p-3">
      <table class="table table-hover table-striped rounded">
        <thead class="table-dark">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data Inicial</th>
            <th scope="col">Data Final</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>CORAGEM</td>
            <td>01/01/2018</td>
            <td>01/12/2018</td>
            <td><i class="bi bi-folder2 me-2"></i>
              <i class="bi bi-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>CORAGEM</td>
            <td>01/01/2018</td>
            <td>01/12/2018</td>
            <td><i class="bi bi-folder2 me-2"></i>
              <i class="bi bi-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >CORAGEM</td>
            <td>01/01/2018</td>
            <td>01/12/2018</td>
            <td><i class="bi bi-folder2 me-2"></i>
              <i class="bi bi-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td >CORAGEM</td>
            <td>01/01/2018</td>
            <td>01/12/2018</td>
            <td><i class="bi bi-folder2 me-2"></i>
              <i class="bi bi-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td >CORAGEM</td>
            <td>01/01/2018</td>
            <td>01/12/2018</td>
            <td><i class="bi bi-folder2 me-2"></i>
              <i class="bi bi-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</main>
